* {
  font-family: ARIAL, SANS-SERIF;
  text-align: right;
}

body {
  background-color: LIGHTGRAY;
}

h2 {
  color: BLUE;
}

p {
  font-size: 20px;
  color: GREEN;
  border: 3px solid black;
}

li {
  list-style: none;
  display: inline;
  border: 2px dashed red;
}

strong {
  color: RED;
}

/* div {
    border: 5px dotted purple;
    margin: 10px;
    padding: 10px;
    } */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;
}
